@import "src/Reusables/Styles/Variables";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  .header {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    .header-text {
      font-family: $secondary_font;
      font-size: 40px;
      color: $gray500;
    }
  }
  .wrap-info {
    margin-top: 31px;
  }
}
