$base_font: "Open Sans", sans-serif;
$secondary_font: "Source Sans Pro", sans-serif;

$white: #ffffff;
$black: #000000;
$gray100: #f7f7f7;
$gray200: #d2d2d2;
$gray300: #c5c5c5;
$gray400: #8b8b8b;
$gray500: #707070c4;
$gray600: #6a6a6a;
$gray700: #757575;
$gray800: #727272;
$gray900: #5b5b5b;
$gray900: #5b5b5b;
$gray_smooth: #cdcdcd;
$gray_dark: #4d4f5c;
$gray_slow: #d7dae2;
$gray_medium: #707070;

$green_100: #6be681;
$green_200: #7ae28c;
$green_300: #37b04c;
$green_400: #37b04c;
$green_500: #279d44;

$yellow: #ffe854;
$yellow_smoth: #ffe7bd;
$brown: #ffb24a;

$light: #eaf0f4;
$dark: #43425d;
$blue_smoth: #caced5;

$dark900: #000000de;
$dark100: #c5c5c59c;
$dark500: #00000099;

$zIndex1: 1;
$zIndex10: 10;
$zIndex20: 20;
$zIndex30: 30;
$zIndex40: 40;
$zIndex50: 50;
$zIndex60: 60;
$zIndex70: 70;
$zIndex80: 80;
$zIndex90: 90;
$zIndex100: 100;
