.container {
  position: relative;
  display: flex;
  flex-direction: column;
  .wrapper-content {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    position: relative;
    .content {
      box-sizing: border-box;
      width: calc(100% - 72px);
      min-height: calc(100vh - 65px);
      margin-left: 72px;
      padding: 30px 24px 30px 24px;
    }
  }
}
