@import "src/Reusables/Styles/Variables";
@import "~react-datepicker/dist/react-datepicker.css";
// @import "react-datepicker/dist/react-datepicker.css"

body {
  margin: 0;
  font-family: $base_font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray100;
}
